#seccionLogin {
	display: grid;
	font-size: 14pt;
	text-align: center;
	border:solid 4px green
	}
	
	.cabecera {
	font-size: 40px;
	background-color: green;
	font-family: cursive;
	text-align: center;
	display:grid;
	
	}