* {
    box-sizing:border-box;
}
body {
	background-color:black;
	color:white;
	 font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
  	font-weight:400;
  	font-style: normal;
}

header h1, header h3 {
	position:relative;
	color:white;
	text-align:center;
	width:100%;
	 font-family: "Kanit", sans-serif;
	 margin-top:2em;
}

header h1 {
	font-size:3em;
	font-weight: 800;
}

header h3 {
	font-size:2em;
	font-weight: 400;
}

.cabecera {
	display:flex;
	flex-wrap:wrap;
	overflow:hidden;
	transform:translateZ(0);
	padding:105px;
}
#botonAbrir{
	cursor:pointer;
	font-size: 36px;
}

.navFull{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	background-color:rgb(1, 141, 184);
	overflow-x: hidden;
	transition: 0.5s;
	text-align:center;
	overflow:hidden;
}

.navFull .botonCerrar {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	cursor:pointer;
	color:white;
	text-decoration: none;
	margin: 10px 0;
}
a {
	color:white;
}
#tocadiscos {
	fill:rgba(255, 255, 255, 0.5) !important;
	animation-name: ckw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.links {
	border:1px solid white;
	border-radius: 5px;
	margin: auto 2em;
	padding:2em;
	text-align:justify;
	width:50%;
	font-size:1.5em;

}

.contenedor{
    display:flex;
}