/* OPCIONES GLOBALES */
* {
    box-sizing:border-box;
}

header {
	border:1px solid white;
	border-radius: 5px;
	margin: auto 2em;
}

body {
	background-color:black;
	color:white;
	 font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
  	font-weight:400;
  	font-style: normal;
}

/* CABECERA */
header h1, header h3 {
	position:relative;
	color:white;
	text-align:center;
	width:100%;
	font-family: "Kanit", sans-serif;
}

header h1 {
	font-size:3em;
	font-weight: 800;
}

header h3 {
	font-size:2em;
	font-weight: 400;
}
/* MENÚ FLOTANTE */
.cabecera {
	display:flex;
	flex-wrap:wrap;
	overflow:hidden;
	transform:translateZ(0);
	padding:105px;
}
#botonAbrir{
	cursor:pointer;
	font-size: 36px;
}

.navFull{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	background-color:rgb(1, 141, 184);
	overflow-x: hidden;
	transition: 0.5s;
	text-align:center;
	overflow:hidden;
}

.navFull .botonCerrar {
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	cursor:pointer;
	color:white;
	text-decoration: none;
	margin: 10px 0;
}
a {
	color:white;
}
#tocadiscos {
	fill:rgba(255, 255, 255, 0.5) !important;
	animation-name: ckw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.links {
	border:1px solid white;
	border-radius: 5px;
	margin: auto 2em;
	padding:2em;
	text-align:justify;
	width:50%;
	font-size:1.5em;

}
.links li {
	list-style-type: none;
}

.contenedor{
    display:flex;
}

/* SUBIR CANCIÓN + DAR BAJA + CAMBIAR CLAVE (forms) */
#menuSubir, #formBaja, #cambioForm, #formRegistro {
	padding:2em;

}

fieldset {
	border: 1px solid rgb(1, 141, 184);
	border-radius: 5px;
}

form div {
	margin:1em;
}

legend, label {
	font-family: "Kanit", sans-serif;
	font-size:1.2em;
}


input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"]{
	height:35px;
	width:100%;
	font-family: "Dosis", sans-serif;
  	font-weight:400;
 	font-style: normal;
	font-size:1em;
	border:1px solid white;
	border-radius: 5px;
}


input[type="submit"]{
	margin-top:1em;
	height:35px;
	border:1px solid white;
	border-radius: 5px;
	background-color:rgb(1, 141, 184);
	color:white;
	font-family: "Dosis", sans-serif;
  	font-weight:400;
 	font-style: normal;
	font-size:1em;
	font-family: "Kanit", sans-serif;
	width:30%;
}
/* LISTA CANCIONES */

audio {
	display:block;
}

/* MENSAJES ERROR CLAVE */

#mensajeErrorClaveNueva,.mensajeErrorClave, .error {
	color: red;
}
.mensajeClaveCambiada {
	color: green;
}