<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>Casette</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/CasetteDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<description></description>
		<display-name>CerrarSesionServlet</display-name>
		<servlet-name>CerrarSesionServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.CerrarSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CerrarSesionServlet</servlet-name>
		<url-pattern>/CerrarSesion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistroServlet</display-name>
		<servlet-name>RegistroServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.RegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistroServlet</servlet-name>
		<url-pattern>/Registro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>IniciarSesionServlet</display-name>
		<servlet-name>IniciarSesionServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.IniciarSesionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IniciarSesionServlet</servlet-name>
		<url-pattern>/IniciarSesion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubirCancionServlet</display-name>
		<servlet-name>SubirCancionServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.SubirCancionServlet</servlet-class>
		<multipart-config>
			<max-file-size>52428800</max-file-size>
			<max-request-size>78643200</max-request-size>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubirCancionServlet</servlet-name>
		<url-pattern>/SubirCancion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CambiarClaveServlet</display-name>
		<servlet-name>CambiarClaveServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.CambiarClaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambiarClaveServlet</servlet-name>
		<url-pattern>/CambiarClave</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AgregarCancionListaServlet</display-name>
		<servlet-name>AgregarCancionListaServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.AgregarCancionListaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgregarCancionListaServlet</servlet-name>
		<url-pattern>/AgregarCancionLista</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CargarListaServlet</display-name>
		<servlet-name>CargarListaServlet</servlet-name>
		<servlet-class>com.afd.casette.controlador.CargarListaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CargarListaServlet</servlet-name>
		<url-pattern>/CargarLista</url-pattern>
	</servlet-mapping>
	  <servlet>
    <description></description>
    <display-name>DarDeBajaServlet</display-name>
    <servlet-name>DarDeBajaServlet</servlet-name>
    <servlet-class>com.afd.casette.controlador.DarDeBajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DarDeBajaServlet</servlet-name>
    <url-pattern>/DarDeBaja</url-pattern>
  </servlet-mapping>
</web-app>